.container {
    margin: 50px;
}

.search {
    width: 80px;
    font-size: 10px;
    line-height: 20px;
    height: 20px;
    background-color: #efefef;
    border-radius: 20px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    color: green;
    font-weight: bold;
}

.plus {
    width: 20px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.button {
    font-size: 10px;
    background-color: blue;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: white;
    box-shadow: 3px 3px  black;
}